// special setting
$blackcolor:      #333333;
$full-width:      970px;
$BlueColor:       #3986FB;
$redColor:        #ea133e;
$yellowColor:     #e9ac40;
$greenColor:      #18BC9C;
$brand-white:     #FFFFFF;
$brand-primary:   #2980B9;
$brand-success:   #27AE60;
$brand-info:      #3498DB;
$brand-warning:   #F39C12;
$brand-danger:    #E74C3C;
$brand-green:     #18BC9C;
$brand-greenb:    #27AE60;
$brand-blue:      #3498DB;
$brand-pur:       #674172;
$brand-purb:      #8E44AD;
$brand-dark:      #192330;
$brand-darkb:		  #22313F;
$brand-darkw:     #6C7A89;
$brand-gray:      #ECF0F1;
$brand-grayb:     #BDC3C7;
$brand-graybb:    #95A5A6;
$brand-grayd:     #7F8C8D;
$brand-yellow:    #F1C40F;
$brand-orng:     #F27935;
$brand-orngb:    #D35400;
$brand-red:       #E74C3C;

// media query
$screen-xs-max:480px - 1;
$screen-xs-min:480px;
$screen-sm-max:768px - 1;
$screen-sm-min:768px;
$screen-md-max:992px - 1;
$screen-md-min:992px;
$screen-lg-max:1200px - 1;
$screen-lg-min:1200px;